<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center title" *ngIf="!categoryID">Add Category</h1>
    <h1 class="text-center title" *ngIf="categoryID">Edit Category</h1>
    <br>
    <form class="form-horizontal" id="categoryForm" #CategoryForm="ngForm" (ngSubmit)="addCategory(CategoryForm)">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Category Name
                      <span>*</span>
                    </label>
                    <input class="form-control" type="text" name="name" required [ngModel]="category?.name" #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                      <div *ngIf="name.errors.required">Category Name is required.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Category Description
                    </label>
                    <input type="text" name="desc" [ngModel]="category?.desc" #desc="ngModel" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Category Image </label>
                    <br/>
                    <input type="file" (change)="uploadFile($event, 'image')" accept=".png,.jpg" />
                    <input type="hidden" name="image" [ngModel]="category?.image">
                    <br>
                    <br>
                    <span class="help-block">
                      <small> Maximum File Size : 5mb. Supported file formats : .png & .jpg </small>
                    </span>
                    <div *ngIf="category?.image">
                      <img [src]="category?.image" class="category-img-big-icon">
                      <button type="button" class="btn btn-sm btn-danger" (click)="deleteFile('image')">Delete</button>
                    </div>

                  </div>
                  <div class="form-group">
                    <label>Sort Weight
                    </label>
                    <input class="form-control" type="number" name="sort" [ngModel]="category?.sort" #sort="ngModel">
                    <span class="help-block">
                      <small> Enter higher value to list this item at the top of the category. (Ex. 100) </small>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-success waves-effect waves-light m-r-10" *ngIf="categoryID">Update</button>
        <button type="submit" class="btn btn-lg btn-success waves-effect waves-light m-r-10" *ngIf="!categoryID">Submit</button>
        <button type="button" class="btn btn-lg btn-inverse waves-effect waves-light" [routerLink]="['../../../menu-builder']">Cancel</button>
      </div>
    </form>
  </div>
</div>
