<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
        </div>
        <br>
        <div>
          <form class="form-horizontal" id="posModifier" #PosItem="ngForm" (ngSubmit)="addPosModifier(posModifier)">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Modifier</th>
                  <th>DropDown</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let modifier of modifierList;let i = index" [ngModelGroup]="i">
                  <td>{{ modifier.name }}</td>

                  <td class="actionList">
                    <select class="form-control" name="prd" [ngModel]="row?.prd" #prd="ngModel">
                      <option value="product1">product 1</option>
                      <option value="product2">product 2</option>
                    </select>
                  </td>
                </tr>
              </tbody>

            </table>
          </form>

          <div class="text-center">
            <button type="submit" class="btn btn-lg btn-success waves-effect waves-light m-r-10">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
