<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <h3 class="box-title m-b-20">Verify your email</h3>
      <p>Verify your email to proceed.</p>
      <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" (click)="sendEmailVerification()">Resend Email Verification</button>
      <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" (click)="refreshEmailVerification()">Refresh</button>
    </div>
  </div>
</div>
