<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button class="btn btn-success" type="button" [routerLink]="['add/new']">
            <i class="fa fa-plus"></i> &nbsp; Add Payment</button>
        </div>
        <br>
        <div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Payment Type</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of paymentList | async">
              <td>{{ payment.type }}</td>
              <td class="actionList">
                <button class="btn btn-sm btn-info" type="button" [routerLink]="['edit', payment.id]">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger" type="button" (click)="deleteMenu($event, payment.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
