<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button class="btn btn-success" type="button" [routerLink]="['/brand/ad-banner/add/new']">
            <i class="fa fa-plus"></i> &nbsp; Ad Banner</button>
        </div>
        <br>
        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Ad Banner Title</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let adBanner of adBannerList | async">
                <td>{{ adBanner.title }}</td>
                <td class="actionList">
                  <button class="btn btn-sm btn-info" type="button" [routerLink]="['/brand/ad-banner', 'edit', adBanner.id]">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button class="btn btn-sm btn-danger" type="button" (click)="deleteAdBanner($event, adBanner.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
