<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
  <!-- chart component -->
  <div class="col-lg-9 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap m-b-30">
          <div>
            <h4 class="card-title"><span class="lstick"></span>Monthly Earning</h4> 
          </div>
          <div class="ml-auto">
            <ul class="list-inline">
              <li>
                <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Sales</h6> 
              </li>
              <li>
                <h6 class="text-muted  text-info"><i class="fa fa-circle font-10 m-r-10"></i>Earning (k)</h6> 
              </li>
            </ul>
          </div>
        </div>
        <div style="height:370px;">
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- other chart component -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span>Visit Separation</h4>
        <div style="height: 220px">
          <canvas baseChart height="100px"  [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [legend]="doughnutChartLegend"   [chartType]="doughnutChartType"  [colors]="[{backgroundColor: ['rgb(116, 90, 242)', 'rgb(30, 136, 229)', '#06d79c', 'rgb(236, 239, 241)']}]">
          </canvas>
        </div>
        <table class="table vm font-14 m-b-0">
          <tr>
            <td class="b-0">Mobile</td>
            <td class="text-right font-medium b-0">38.5%</td>
          </tr>
          <tr>
            <td>Tablet</td>
            <td class="text-right font-medium">30.8%</td>
          </tr>
          <tr>
            <td>Desktop</td>
            <td class="text-right font-medium">7.7%</td>
          </tr>
          <tr>
            <td>Other</td>
            <td class="text-right font-medium">23.1%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
