<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button type="button" class="btn btn-outline-success btn-fetch"><i class="fa fa-arrow-down"></i> Fetch</button>
          <button type="button" class="btn btn-outline-success btn-auto-match"><i class="fa fa-refresh"></i> Auto Match</button>
        </div>
        <br>
        <div>
          <form class="form-horizontal" id="posItem" #PosItem="ngForm" (ngSubmit)="addPosItem(PosItem)">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Menu Item</th>
                  <th>Dropdown</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of menuItemListData;let i = index" [ngModelGroup]="i">
                  <td>{{ list.name }}</td>

                  <td class="actionList">
                    <select class="form-control" name="prd" [ngModel]="row?.prd" #prd="ngModel">
                      <option value="product1">product 1</option>
                      <option value="product2">product 2</option>
                    </select>
                  </td>
                </tr>
              </tbody>

            </table>

            <div class="text-center">
              <button type="submit" class="btn btn-lg btn-success waves-effect waves-light m-r-10">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
